{% extends "base_generic.html" %}

{% block content %}
<h1>Book List</h1>

{% if book_list %}
<ul>

  {% for book in book_list %}
  <li>
    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
    <p>
      <strong><a href="{% url 'book_update' book.id %}">(Update)</a></strong>
      <strong><a href="{% url 'book_delete' book.id %}">(Delete)</a></strong>
    </p>
  </li>
  {% endfor %}
  <p><strong><a href="{% url 'book_create' %}">Add new book</a></strong></p>

</ul>
{% else %}
<p>There are no books in the library.</p>
{% endif %}
{% endblock %}
